* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins';
}

html {
	scroll-behavior: smooth;
}

#head {
	background:linear-gradient(0deg,rgba(0, 153, 255,0.3),rgba(0, 153, 255,0.9)),url("../img/background.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: block;
	position: relative;
	background-color: gray;
}

#name {
	width: 20%;
	padding: 13px 20px 10px;
	margin-left: 20px;
	float:left;
	background: url("../img/logo.png");
	background-position: left;
	background-size: 150px;
	background-repeat: no-repeat;
	height: 80px;
	transition: background 0.35s;
}

#name:hover {
	background: url("../img/logo2.png");
	background-position: left;
	background-size: 150px;
	background-repeat: no-repeat;
}

nav {
	width: 70%;
	display: inline-block;
	float: right;
	margin-bottom: 150px;
}

nav ul li{
	list-style: none;
	color: white;
	display: inline-block;
}

nav ul li a {
	display: block;
	padding: 30px 20px;
	letter-spacing: 2px;
	font-weight: 300;
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	color: #07e8d9;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

nav ul li a.current{
	background: linear-gradient(to bottom, rgb(9, 107, 145) 0%, rgba(0,0,0,0) 100%);
}

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

#head img.icon {
	margin: 180px auto 0;
	border-radius: 50%;
	text-align: center;
	display: block;
	width: 160px;
	clear: both;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

#head img.icon:hover {
	border-radius: 30% 10%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	transform: scale(1.2);
	border: 2px solid white;
}

h1.welcome {
	padding-top: 10px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 60px;
	font-weight: 600;
	color: white;
}

h5.description {
	text-align: center;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 400;
	color: white;
	font-style: italic;
}

div.arrow {
	width: 55px;
	height: 55px;
	background: url("../img/arrow.png");
	background-position: center;
	background-size: 55px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	transition: 0.5s;
	margin-left: auto; 
    margin-right: auto; 
	-webkit-transition: 0.5s;
}

div.arrow:hover {
	background-image: url("../img/arrow2.png");
	background-position: center;
	background-size: 55px;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

section.intro {
	height: 750px;
	background: linear-gradient(to top left, #0099ff 0%, #0099ff 100%);
	padding: 180px 200px 0;
	font-family: 'Poppins';
	text-align: center;
}

section.intro .container {
	width: 1100px;
	margin: 0 auto;
}

section.intro h2 {
	color: white;
	font-size: 50px;
	padding-bottom: 10px;
}

section.intro p {
	font-size: 30px;
	letter-spacing: 1.5px;
	color: white;
}

section.resume {
	height: 70vh;
	background: white;
}

section.white {
	height: 700px;
	width: 80vw;
	margin-top: -15vh;
	margin-left: auto; 
	margin-right: auto; 
	left: 0;
	right: 0;
	background: white;
	z-index: 100;
	position: absolute;
	border-radius: 20px;
	/*border: 1px solid rgb(225, 225, 225);*/
	-webkit-box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
}	

section.col1, section.col3, section.col4, section.col6 {
	width: 33%;
	height: 50%;
	display: inline-block;
	float: left
}

section.col2, section.col5 {
	width: 34%;
	height: 50%;
	display: inline-block;
	border-left: 1px solid rgb(220, 220, 220);
	border-right: 1px solid rgb(220, 220, 220);
	float: left
}

section.col1, section.col2, section.col3 {
	border-bottom: 1px solid rgb(220, 220, 220);
} 

section.col1, section.col2, section.col3, section.col4, section.col5, section.col6 {
	transition: 1s;
	-webkit-transition: 0.5s;
} 

section.col1:hover, section.col2:hover, section.col3:hover, section.col4:hover, section.col5:hover, section.col6:hover {
	background: #0099ff;
	transition: 1s;
	-webkit-transition: 0.5s;
} 

section.col1 {
	border-top-left-radius: 20px;
	background: url("../img/skills.png");
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
}

section.col1:hover {
	background-image: url("../img/skills2.png");
	background-position: center;
	background-size: 75px;
	background-repeat: no-repeat;
}

section.col2 {
	background: url("../img/education.png");
	background-position: center;
	background-size: 120px;
	background-repeat: no-repeat;
}

section.col2:hover {
	background-image: url("../img/education2.png");
	background-position: center;
	background-size: 140px;
	background-repeat: no-repeat;
}

section.col3 {
	border-top-right-radius: 20px;
	background: url("../img/achievements.png");
	background-position: center;
	background-size: 100px;
	background-repeat: no-repeat;
}

section.col3:hover {
	background-image: url("../img/achievements2.png");
	background-position: center;
	background-size: 120px;
	background-repeat: no-repeat;
}

section.col4 {
	border-bottom-left-radius: 20px;
	background: url("../img/portfolio.png");
	background-position: center;
	background-size: 110px;
	background-repeat: no-repeat;
}

section.col4:hover {
	background-image: url("../img/portfolio2.png");
	background-position: center;
	background-size: 130px;
	background-repeat: no-repeat;
}

section.col5 {
	background: url("../img/contact.png");
	background-position: center;
	background-size: 130px;
	background-repeat: no-repeat;
}

section.col5:hover {
	background-image: url("../img/contact2.png");
	background-position: center;
	background-size: 150px;
	background-repeat: no-repeat;
}

section.col6 {
	border-bottom-right-radius: 20px;
	background: url("../img/home.png");
	background-position: center;
	background-size: 110px;
	background-repeat: no-repeat;
}

section.col6:hover {
	background-image: url("../img/home2.png");
	background-position: center;
	background-size: 130px;
	background-repeat: no-repeat;
}

.resume p {
	height: 100px;
	position: relative;
	float: left;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -50%);
	clear: left;
	font-size: 30px;
	font-weight: 500;
	color: #0099ff;
}

footer {
	height: 30vh;
	background-color: rgb(230, 230, 230);
	padding-top: 21vh;
}

footer p {
	color: rgb(100, 100, 100);
	text-align: center;
	font-family: 'Poppins';
}