* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#head {
	background-image: url("../img/background.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: block;
	position: relative;
	background-color: gray;
}

#navbar {
	background-color: rgba(0, 0, 0, 0.4);
	font-family: 'Poppins';
}

#name {
	width: 30%;
	padding: 10px 30px;
	display: inline-block;
}

#name h1 {
	padding: 10px;
	letter-spacing: 5px;
	color: white;
	font-weight: 400;
}

nav {
	width: 70%;
	display: inline-block;
	float: right;
}

nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 30px;
	letter-spacing: 2px;
	font-weight: 300;
}

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

#head img.icon {
	margin: 100px auto 0;
	border-radius: 50%;
	text-align: center;
	height: auto;
	display: block;
}

h1.welcome {
	padding-top: 5vh;
	text-align: center;
	font-family: 'Poppins';
	font-size: 50px;
	font-weight: 600;
	color: white;
}

.arrow {
	width: 40px;
	height: auto;
	margin: 350px auto 0;
	display: block;

}

main {
	height: 100vh;
	background-color: rgb(245, 245, 245);
	padding: 200px 100px;
	background-image: url("../img/white2.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

section.icon {
	width: 30%;
	display: inline-block;
	padding: 10px;
}

.icon img {
	width: 100%;
}

section.objectives {
	width: 70%;
	display: inline-block;
	float: right;
	padding: 30px;
	font-family: 'Poppins';
}

.objectives p {
	font-size: 30px;
	letter-spacing: 1.5px;
}

footer {
	height: 80px;
	background-color: gray;
}
