* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins';
}

html {
	scroll-behavior: smooth;
}

#head {
	background-image: url("../img/background.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	display: block;
	position: relative;
	background-color: gray;
}

#navbar {
	background-color: rgba(0, 0, 0, 0.4);
	font-family: 'Poppins';
}

#name {
	width: 30%;
	padding: 10px 30px;
	display: inline-block;
}

#name h1 {
	padding: 10px;
	letter-spacing: 5px;
	color: white;
	font-weight: 400;
}

nav {
	width: 70%;
	display: inline-block;
	float: right;
}

nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 30px;
	letter-spacing: 2px;
	font-weight: 300;
}

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

#head img.icon {
	margin: 20vh auto 0;
	border-radius: 50%;
	text-align: center;
	height: auto;
	display: block;
}

h1.welcome {
	padding-top: 10px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 60px;
	font-weight: 600;
	color: white;
}

h5.description {
	text-align: center;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 400;
	color: white;
	font-style: italic;
}

.arrow {
	width: 40px;
	height: auto;
	margin: 350px auto 0;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
}

section.intro {
	height: 100vh;
	background: linear-gradient(to top left, #6666ff 0%, #66ccff 100%);
	padding: 25vh 200px 0;
	font-family: 'Poppins';
	/*background-image: url("../img/white2.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;*/
	text-align: center;
}

section.intro h2 {
	color: white;
	font-size: 50px;
	padding-bottom: 10px;
}
section.intro p {
	font-size: 30px;
	letter-spacing: 1.5px;
	color: white;
}

section.resume {
	height: 70vh;
	background: white;
}

section.white {
	height: 100vh;
	width: 80vw;
	margin-top: -15vh;
	margin-left: auto; 
  	margin-right: auto; 
	left: 0;
	right: 0;
	background: white;
	z-index: 100;
	position: absolute;
	border-radius: 20px;
	border: 1px solid rgb(225, 225, 225);
	-webkit-box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 30px -16px rgba(0,0,0,0.75);
}	

section.col1, section.col3, section.col4, section.col6 {
	width: 33%;
	height: 50%;
	display: inline-block;
	float: left
}

section.col2, section.col5 {
	width: 34%;
	height: 50%;
	display: inline-block;
	border-left: 1px solid rgb(220, 220, 220);
	border-right: 1px solid rgb(220, 220, 220);
	float: left
}

section.col1, section.col2, section.col3 {
	border-bottom: 1px solid rgb(220, 220, 220);
} 

.col6 p {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.col6 a {
	text-decoration: none;
	color: #6666ff;
	font-size: 20px;
}

.col6 a:visited {
	color: #6666ff; 
}

footer {
	height: 30vh;
	background-color: rgb(230, 230, 230);
	padding-top: 21vh;
}

footer p {
	color: rgb(100, 100, 100);
	text-align: center;
	font-family: 'Poppins';
}
